@font-face {
    font-family: 'QuillScript';
    src: url('QuillScript.eot');
    src: url('QuillScript.eot?#iefix') format('embedded-opentype'),
        url('QuillScript.woff2') format('woff2'),
        url('QuillScript.ttf') format('truetype'),
        url('QuillScript.svg#QuillScript') format('svg');
    font-weight: normal;
    font-style: normal;
}

