@font-face {
    font-family: 'NuSansRegular';
    src: url('NuSansRegular.svg#NuSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NuSansRegular';
    src: url('NuSansRegular.svg#NuSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

